@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* core style */
html {
  scroll-behavior: smooth;
}
label {
  @apply block;
}
body {
  @apply font-montserrat text-sm font-normal bg-bg-avatar text-black;
}

/* core styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-item {
  @apply flex items-center gap-3 px-3 py-2 h-10 rounded-lg transition-all duration-200 relative w-full text-left;
}

.menu-item-active {
  @apply bg-blue-light text-blue;
}

.menu-item-inactive {
  @apply text-gray-600 hover:bg-gray-50 hover:text-gray-900;
}

.menu-item-icon-size {
  @apply w-5 h-5 flex-shrink-0;
}

.menu-item-icon-active {
  @apply text-blue;
}

.menu-item-icon-inactive {
  @apply text-black group-hover:text-blue;
}

.menu-item-text {
  @apply font-medium text-sm;
}

.menu-notification-badge {
  @apply bg-blue-light absolute right-3 top-1/2 -translate-y-1/2 w-6 h-6 flex items-center justify-center rounded-full text-xs text-blue font-normal;
}

.menu-dropdown-item {
  @apply flex items-center justify-between px-3 py-2 text-sm rounded-md transition-colors duration-200;
}

.menu-dropdown-item-active {
  @apply bg-blue text-blue;
}

.menu-dropdown-item-inactive {
  @apply text-gray-600 hover:bg-gray-50 hover:text-gray-900;
}

.menu-dropdown-badge {
  @apply px-2 py-1 text-xs rounded-full font-medium;
}

.menu-dropdown-badge-active {
  @apply bg-blue text-blue;
}

.menu-dropdown-badge-inactive {
  @apply bg-gray-100 text-gray-600;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dee3f3;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #707d89;
}

.menu-scroll {
  max-height: 320px;
  overflow-y: auto;
}

/* Dropdown styles */
.dropdown {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: visibility 0s, opacity 0.2s, transform 0.2s;
}

.dropdown.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-item__hover:hover {
  background-color: #f4f8ff;
}
/* scrollbar */

/* button */
input {
  @apply !outline-none;
}
header {
  z-index: 7777;
}
@layer components {
  .modal {
    @apply fixed inset-0  items-center justify-center overflow-y-auto z-[999999] hidden bg-black/60;
  }
  .overlay.show,
  .modal.show {
    @apply !flex;
  }
  .modal-content {
    @apply !h-fit overflow-y-auto no-scrollbar relative overflow-hidden bg-white rounded-xl;
  }
  /* modal */
  #overlay {
    @apply lg:hidden hidden;
  }
  #overlay.show {
    @apply block;
  }

  .btn {
    @apply h-11 inline-flex whitespace-nowrap items-center gap-2 rounded-lg transition px-4 py-3 md:text-sm text-xs;
  }

  .btn-primary {
    @apply bg-blue text-white;
  }

  .btn-primary:disabled {
    @apply bg-[#93B7FF];
  }

  .btn-outline {
    @apply text-black ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
  }

  .btn-full-outline {
    @apply border-none text-gray-base;
  }

  .btn-sm {
    @apply px-4 py-3 md:text-sm text-xs;
  }

  .btn-md {
    @apply px-5 py-3.5 text-sm;
  }

  .btn-sm-icon {
    @apply p-3 md:text-sm text-xs w-11;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .select {
    @apply relative w-full z-[100];
  }

  .select-toggle {
    @apply h-11 w-full gap-1.5 rounded-lg border border-line bg-transparent px-4 py-2.5 md:text-sm text-xs cursor-pointer flex items-center justify-between;
  }

  .select-display {
    @apply text-gray-base;
  }

  .select-arrow {
    @apply transition-transform duration-200 min-w-4;
  }

  .select-options {
    @apply absolute z-[110] top-full p-1 mt-1 w-full rounded-lg border border-gray-300 bg-white shadow-theme-lg max-h-60 overflow-y-auto;
  }

  .select-option {
    @apply px-4 py-2.5 md:text-sm text-xs rounded-[6px] cursor-pointer hover:bg-blue-light text-gray-700;
  }

  .select-option-selected {
    @apply bg-blue-light font-medium;
  }

  .form-control {
    @apply h-11 w-full rounded-lg border border-line px-4 py-2.5 md:text-sm text-xs font-normal shadow-theme-xs placeholder:text-gray-base focus:border-[#93B7FF] focus:shadow-input-focus;
  }
  .date-picker {
    @apply flex flex-col gap-1 !w-full;
  }

  .date-picker-label {
    @apply text-sm text-gray-base;
  }

  .date-picker-input {
    @apply h-11 !w-full rounded-lg border !bg-white border-line bg-transparent px-4 py-2.5 md:text-sm text-xs shadow-theme-xs placeholder:text-gray-base focus:border-[#93B7FF] focus:shadow-input-focus;
  }
  .date-picker-icon {
    @apply absolute text-gray-base -translate-y-1/2 pointer-events-none right-[15px] top-1/2;
  }

  .flatpickr-wrapper {
    @apply !w-full;
  }

  .flatpickr-calendar {
    @apply mt-2 bg-white rounded-xl p-5 border border-gray-300 text-gray-base;
  }

  .flatpickr-weekdays {
    @apply mt-6 mb-4 bg-transparent;
  }

  .flatpickr-weekday {
    @apply text-xs font-medium text-gray-base bg-transparent;
  }

  .flatpickr-day {
    @apply flex items-center text-xs font-medium text-black;
  }

  .flatpickr-day.nextMonthDay,
  .flatpickr-day.prevMonthDay {
    @apply text-gray-base;
  }

  .flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months {
    @apply font-medium;
  }

  .flatpickr-month
    .flatpickr-current-month
    .flatpickr-monthDropdown-months:focus {
    @apply outline-none border-0;
  }

  .flatpickr-current-month .cur-month,
  .flatpickr-current-month input.cur-year {
    @apply h-auto pt-0 text-lg font-medium text-black;
  }
  .flatpickr-calendar.static.open {
    @apply !left-0 !z-[99999];
  }
  /* checkbox */
  .checkbox-container {
    @apply flex items-center space-x-3 cursor-pointer;
  }

  .checkbox-container[data-disabled="true"] {
    @apply cursor-not-allowed opacity-60;
  }

  .checkbox-wrapper {
    @apply relative w-5 h-5 flex items-center justify-center;
  }

  .checkbox-input {
    @apply w-4 h-4 border border-blue checked:bg-blue checked:border-transparent rounded-sm;
  }

  .checkbox-input:disabled {
    @apply opacity-60;
  }

  .checkbox-check {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none;
  }

  .checkbox-disabled {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none;
  }

  .checkbox-label {
    @apply md:text-sm text-xs text-black;
  }

  .checkbox-link {
    @apply md:text-sm text-xs text-blue;
  }
}
.flatpickr-wrapper {
  width: 100% !important;
}
.flatpickr-calendar {
  @apply !bg-white !p-3;
}
.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}
.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
    0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
    0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}
.flatpickr-current-month {
  padding-top: 6px;
  position: unset;
  height: unset;
}
.flatpickr-months {
  position: relative;
  margin-bottom: 10px;
  height: unset;
}
.flatpickr-months .flatpickr-month {
  height: unset;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: unset;
}
.flatpickr-calendar {
  margin-top: 0.25rem * 2;
  border-radius: 0.75rem !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #e4e7ec !important;
  background-color: white !important;
  padding: 20px !important;
  color: #667085 !important;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  display: none;
}

.checkbox-input {
  /* Default checkboxni olib tashlaymiz */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Checkboxning o'z border va radiusini beramiz */
  width: 20px; /* yoki w-4 */
  height: 20px; /* yoki h-4 */
  border: 1px solid #dee3f3;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.checkbox-input:checked {
  border-color: transparent;
  background: #3b82f6 url(../images/icons/check.svg) no-repeat;
  background-position: center;
}

/* scroll box */
.scroll-box::-webkit-scrollbar {
  @apply h-[6px] rounded-[20px];
}
.scroll-box::-webkit-scrollbar-thumb {
  @apply bg-[#DEE3F3] rounded-[20px];
}

.custom-scrollbar,
.scroll-box {
  /* WebKit-specific styles for Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    @apply size-1.5 bg-transparent; /* 1.5px width/height, transparent background */
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent; /* Rounded, transparent track */
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-[#DEE3F3] rounded-[20px]; /* #DEE3F3 thumb, 20px border-radius */
  }

  /* Hover effect for WebKit browsers */
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[#C5CCE6]; /* Darker shade on hover */
  }

  /* Fallback for browsers that don't support custom scrollbars (e.g., IE) */
  overflow: auto; /* Ensure scrollbars appear when needed */
}

/* Firefox-specific styles using @supports */
@supports (-moz-appearance: none) {
  .custom-scrollbar,
  .scroll-box {
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
    scrollbar-color: #dee3f3 transparent; /* Thumb: #DEE3F3, Track: transparent */
    overflow-x: scroll;
  }
}

.touch-none {
  touch-action: none;
}
@media (max-width: 1620px) {
  .scroll-box {
    @apply pb-[10px];
  }
}
@media (max-width: 1560px) {
  .scroll-parent-box,
  .scroll-box {
    @apply -mr-6;
  }
  .scroll-parent-box > div,
  .scroll-box > div {
    @apply pr-6;
  }
}
@media (max-width: 768px) {
  .scroll-parent-box,
  .scroll-box {
    @apply -mr-4;
  }
  .scroll-parent-box > div,
  .scroll-box > div {
    @apply pr-4;
  }
}

/* custom card style */
.card {
  @apply md:rounded-2xl rounded-[12px] border bg-white border-gray-200;
}
.card-header {
  @apply border-b border-border-light sm:py-5 md:px-[24px] sm:p-5 p-4;
}

.card-title {
  @apply text-lg md:text-xl font-semibold text-black;
}

.card-content {
  @apply md:p-6 sm:p-5 p-4;
}

/* Base badge styles */
/* Base badge styles */
.badge {
  @apply inline-flex items-center justify-center gap-1 rounded-full font-normal w-fit sm:h-fit h-5 text-[10px] sm:text-xs py-[2px] px-2;
}

/* Light variant styles */
.badge-light.badge-light {
  @apply bg-gray-100 text-gray-600;
}
.badge-light.badge-primary {
  @apply bg-[#ECF3FF] text-[#465FFF];
}
.badge-light.badge-success {
  @apply bg-[#ECFDF3] text-[#039855];
}
.badge-light.badge-error {
  @apply bg-red-50 text-red-600;
}
.badge-light.badge-warning {
  @apply bg-[#FFFAEB] text-[#DC6803];
}
.badge-light.badge-info {
  @apply bg-[#F2F4F7] text-[#707D89];
}
.badge-light.badge-light-info {
  @apply bg-[#F4F8FF] text-[#407BFF] flex items-center justify-center px-2;
}

.badge-light.badge-dark {
  @apply bg-gray-500 text-white;
}

/* Solid variant styles */
.badge-solid.badge-primary {
  @apply bg-blue text-white;
}
.badge-solid.badge-success {
  @apply text-white;
}
.badge-solid.badge-error {
  @apply bg-red-500 text-white;
}
.badge-solid.badge-warning {
  @apply bg-yellow-500 text-white;
}
.badge-solid.badge-info {
  @apply bg-blue-light text-white;
}
.badge-solid.badge-light {
  @apply bg-gray-400 text-white;
}
.badge-solid.badge-dark {
  @apply bg-gray-700 text-white;
}

/* Icon styles */
.badge-start-icon {
  @apply mr-1;
}
.badge-end-icon {
  @apply ml-1;
}

/* custom range slider */

/* Universal Range Slider Styles */
.range-slider-container {
  @apply relative;
}
.range-slider-container .form-control {
  @apply focus:shadow-none focus:border-border-light pointer-events-none text-gray-base;
}
.range-slider {
  @apply absolute bottom-0 h-[1px] left-4;
  width: calc(100% - 40px);
}

.range-slider__track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #e2e8f0;
  border-radius: 2px;
  transform: translateY(-50%);
}

.range-slider__range {
  position: absolute;
  top: 50%;
  height: 100%;
  border-radius: 2px;
  transform: translateY(-50%);
  background: #407bff;
}

.range-slider__handle {
  @apply absolute top-1/2 -translate-y-1/2 w-[11px] h-[11px] bg-blue rounded-full;
}

.range-slider__handle:active,
.range-slider__handle.dragging {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.2);
}

.range-slider__handle--min {
  z-index: 3;
}

.range-slider__handle--max {
  z-index: 3;
}

.table-body tr td {
  @apply border-b border-border-light;
}
.table-body tr:last-child td {
  @apply border-none;
}

@media (max-width: 490px) {
  table th,
  table td {
    height: 42px !important;
  }
  table th {
    @apply !py-1;
  }
}

@media (max-width: 650px) {
  .full-tab,
  .full-tab > div,
  .full-tab > div > button {
    width: 100%;
  }
  .date-picker-icon {
    @apply right-[17px];
  }
  .date-picker-icon svg {
    @apply w-[15px] h-[16px];
  }
  .table-pagination .btn {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 490px) {
  .flatpickr-calendar,
  .dayContainer,
  .flatpickr-days,
  .flatpickr-weekdays,
  .flatpickr-rContainer {
    width: 100% !important;
  }
  .dayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 100%;
  }
  .rangeMode .flatpickr-day {
    width: 100% !important;
    text-align: center;
    /* max-width: 100%;   */
  }
}
.blue-icon {
  @apply stroke-blue;
}
.tab .tab-list.active {
  @apply bg-[#F4F8FF] text-[#407BFF];
}
.tab .tab-list .tab-count {
  @apply text-blue bg-[#F4F8FF] font-normal;
}
.tab .tab-list.active .tab-count {
  @apply bg-white text-[#407BFF];
}
/* modal*/

.select-arrow {
  @apply w-5 h-5;
}

.table-pagination .btn svg path {
  stroke-width: 2px;
}

.form-control + .absolute path {
  stroke-width: 1.5;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.inRange {
  @apply bg-[#F9FBFF] relative z-10 !border-transparent;
}
.flatpickr-day.inRange::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -6px;
  background: #f9fbff;
  width: 132%;
  height: 105%;
  z-index: -1;
}

/* Katta hitbox zonasi */
.range-slider__handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Ko‘rinmaydi */
  cursor: pointer;
  z-index: 1;
}
.tab-content[hidden] {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.chart-box {
  min-height: 170px !important;
}
#chartTwo.chart-box {
  min-height: 150px !important;
}
@media (max-width: 768px) {
  #chartTwo.chart-box {
    min-height: 322px !important;
  }
  .chart-box,
  .chart-box div:not(.apexcharts-tooltip),
  .chart-box svg {
    height: 100% !important;
    min-width: 700px;
  }
  .chart-box {
    height: 164px !important;
    padding-right: 16px;
  }
  .chart-box > * {
    pointer-events: none;
  }
  .scroll-bar {
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: -16px;
  }
  .chart-box__parent {
    height: 210px !important;
  }

  .chart-box {
    min-height: 300px !important;
  }
}

.apexcharts-bar-area:hover {
  fill: #407bff !important;
}
.text-blue {
  color: #407bff;
}

.apexcharts-legend.apx-legend-position-bottom {
  opacity: 0;
  visibility: hidden;
}

.collapse-child-items > div:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.collapse-child-items > div:last-child > div {
  margin-bottom: 0;
}

#statistics-table-body tr:last-child {
  border: none;
}

.user-tablist .tab-list {
  @apply bg-transparent text-gray-base h-[36px];
}
.user-tablist .tab-list.active {
  @apply bg-white !text-black;
}
line.apexcharts-xaxis-tick {
  display: none !important;
}

.tooltip-btn.active path {
  @apply stroke-blue;
}
/* .price-tabs .tab-content {
  @apply xl:block hidden
}
.price-tabs .tab-content.active {
  @apply block
} */
@media (min-width: 1280px) {
  .price-tabs .tab-content.hidden {
    @apply !block;
  }
}

.accordion-content {
  @apply hidden;
}
.accordion-content.active {
  @apply block
}
.accordion-header {
  /* background: #000 !important; */
}
